$white: #FFFFFF;
$dark: #000000;
$primary: #FFF200;
$dark-grey: #C4C4C4;
$light-grey: #f2f2f2;
$grey: #BDBDBD;

$dark-background: rgba(0, 0, 0, 0.5);
$gradient-background: linear-gradient(0deg, rgba(40, 36, 22, 0.08), rgba(40, 36, 22, 0.08)), #FFFFFF;
