$white: #FFFFFF;
$dark: #000000;
$primary: #FFF200;
$grey: #C4C4C4;

$dark-background: rgba(0, 0, 0, 0.5);
$gradient-background: linear-gradient(0deg, rgba(40, 36, 22, 0.08), rgba(40, 36, 22, 0.08)), #FFFFFF;
